---
import { Icon } from 'astro-icon'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'
import { SiteMetadata } from '../config'
import coverSVG from '../assets/svg/undraw/undraw_contact_us.svg'
import socialImage from '../assets/undraw/undraw_contact_us.png'

const frontmatter = {
  title: 'Formacion de Promotores Turisticos',
  description: '',
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime
}
---

<Base frontmatter={frontmatter}>
    <header>
      <PageHero
        title={frontmatter.title}
        description={frontmatter.description}
        coverSVG={coverSVG}
        socialImage={socialImage}
      />
    </header>
    <main>

    </main>